<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="<%- BASE_URL %>assets/images/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="<%- BASE_URL %>assets/images/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="<%- BASE_URL %>assets/images/favicon/favicon-16x16.png" />
    <link rel="manifest" href="<%- BASE_URL %>assets/images/favicon/site.webmanifest" />
    <link rel="mask-icon" href="<%- BASE_URL %>assets/images/favicon/safari-pinned-tab.svg" color="#f9c100" />
    <link rel="shortcut icon" href="<%- BASE_URL %>assets/images/favicon/favicon.ico" />
    <meta name="msapplication-TileColor" content="#f9c100" />
    <meta name="msapplication-config" content="<%- BASE_URL %>assets/images/favicon/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="title" content="Weather App" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Weather App" />
    <meta name="application-name" content="Weather App" />
    <meta name="description" content="Check out the weather, based on your location with this app." />
    <meta property="og:title" content="Weather App" />
    <meta property="og:description" content="Check out the weather, based on your location with this app." />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="<%- BASE_URL %>assets/images/thumbnail.png" />
    <meta property="og:image:width" content="1110" />
    <meta property="og:image:height" content="630" />
    <meta name="twitter:title" content="Weather App">
    <meta name="twitter:description" content="Check out the weather, based on your location with this app.">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="<%- BASE_URL %>assets/images/thumbnail.png">
    <meta itemprop="name" content="Weather App">
    <meta itemprop="description" content="Check out the weather, based on your location with this app.">
    <meta itemprop="image" content="<%- BASE_URL %>assets/images/thumbnail.png" />
    <title>Weather App</title>
    <script type="module" src="/src/main.ts" defer></script>
  </head>
  <body class="loading">
    <main id="app"></main>
  </body>
</html>